@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-100 pt-8;
  @apply border-t-4 border-green-600;
}

.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 4px;
}

.icon .secondary {
  @apply fill-green-300;
}

.icon .primary {
  @apply fill-green-600;
}

h3 {
  @apply text-lg font-bold text-green-600 border-b border-green-600 pb-2;
}

strong {
  @apply font-semibold;
}
